//main
.landing-main {
  .site-banner {
    height: 75vh;
    width: 100%;
    background-image: url(./images/wystawy.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .section__header {
    .section__headline {
      margin: 20px 0;
      font-size: 1.75rem;;
    }
  }
  // common for both sections
  .landing-section {
    // border: 4px solid red;
    .center {
      @include flex-center;
    }
    .marginize {
      margin: $margin-small;
    }
    .event-summary {
      // border: 2px solid blue;
      background-color: rgba(219, 219, 219, 0.212);
      display: flex;
      align-items: center;
    }
    // post summery image
    .post-image {
      width: 40vw;
      height: 400px;
      background-size: cover;
      // background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    // event/post text content container
    .event-summary__container {
      // positioning to parent
      position: relative;
      left: -20px;
      width: 40vw;
      background-color: white;
      // children positioning
      display: flex;
      flex-direction: column;
      align-items: center;
      // main styling
      padding: $padding-medium;

      // all links
      a {
        text-decoration: none;
        color: $main-dark;
      }
    }
    // every second post summery on landing page
    .event-summary:nth-of-type(even){
      display: flex;
      flex-direction: row-reverse;
      .event-summary__container {
        // border: 2px solid rgb(13, 90, 3);
        position: relative;
        left: 20px;
        background-color: white;
      }
    }
    .event-summary__content {
      flex-direction: column;
      .event-summary__title {
        text-decoration: none;
      }
      .event-summary__text {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        a {
          color: $space-gray;
          i {
            -webkit-text-stroke: 1px white;
          }
        }
      }
    }
    .section-link {
      // border: 1px solid black;
    }
  }
}


@media only screen and (max-width: 959px) {
  .landing-main {
    .landing-section {
      .event-summary,.event-summary:nth-of-type(even) {
        flex-direction: column;
        .event-summary__container {
          width: 100vw;
          position: relative;
          left: 0;
        }
      }
      .post-image {
        width: 100vw;
      }
    }
  }
}