//main
.landing-main {
  .site-banner {
    height: 75vh;
    width: 100%;
    background-image: url(./images/wystawy.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  // section
  .landing-section {
    border: 4px solid red;
    .center {
      @include flex-center;
    }
    .main-headline {
      border: 1px solid black;
    }
    .event-summary {
      border: 1px solid blue;
      background-color: rgb(219, 219, 219);
      @include flex-center;
    }
    .section-link {
      border: 1px solid black;
    }
  }
  // section 2
  .full-width-split__two {
    border: 1px solid blue;
  }
}
.post-image{
  width: 80%;
  height: 450px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

// @media only screen and (max-width: 959px) {
//   .post-image{
//     width: 600px;
//   }
// }