.site-header {
  // border: 1px solid red;
  display: flex;
  justify-content: center;
  .container {
    // border: 1px solid blue;
    display: flex;
    justify-content: space-between;
    height: 45px;
    width: 100vw;
    max-width: 1400px;
    .gallery-logo{
      .site-logo{
        width: 45px;
        height: 100%;
        // border: 1px solid green;
        background-image: url(./images/logo_jak.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
      .site-header__menu{
        display: flex;
        .main-navigation{
          // border: 1px solid green;
          ul {
            height: 100%;
            display: flex;
            li{
              a {
                color: black;
                text-decoration: none;
              }
            }
          }
        }
        .js-search-trigger {
          .fa-search {
            color: black;
            padding: 15px 0px;
          }
        }
      }
  }
}

@media only screen and (max-width: 959px) {
  .site-header {
    // pozycjonowanie relatywne
    position: relative;
    .site-header__menu-trigger {
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 20px;
    }
    .main-navigation{
      // border: 1px solid green;
      position: absolute;
      top: 45px;
      left: -100vw;
      // left: 0px;
      height: 50vh;
      background: white;
      // flex
      display: flex;
      flex-direction: column;
      transition-duration: 0.75s;
      ul {
        height: 100%;
        width: 100vw;
        // flex
        @include flex-center;
        justify-content: space-evenly;
        flex-direction: column;
      }
    }
    // main-navigation--active
    .main-navigation--active {
      left: 0px;
    }
    .site-header__util {
      position: absolute;
      right: 55px;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

@media only screen and (min-width: 960px) {
  .site-header {
      .container {
        height: 55px;
        .gallery-logo {
          .site-logo {
            width: 55px;
          }
        }
        .site-header__menu-trigger {
          display: none;
        }
        .site-header__menu {
          // border: 1px solid yellowgreen;
          // justify-content: center;
          nav.main-navigation {
            // @include flex-center;
            ul {
              // @include flex-center;
              li {
                @include flex-center;
                padding: 0px 15px;
                height: 100%;
                &:hover {
                  border-bottom: 1px solid $space-gray;
                }
              }
            }
          }
          .site-header__util {
            @include flex-center;
            margin: 0 10px;
            width: 50px;
            &:hover {
              border-bottom: 1px solid $space-gray;
            }
          }
          // .js-search-trigger {
          //   &:hover {
          //     border-bottom: 1px solid $space-gray;
          //   }
          // }
          .fa-search::before {
            color: $menu-dark;
            width: 20px;
          }
        }
      }
    }
}
